* {
    font-family: sans-serif;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bolder;
}

.dropdown {
    list-style-type: none;
    text-align: center;
    background-color:beige;
    padding: 0px;
}

.dropdown-item {
    color: black;
    font-size: 1.75em;
}

.div_text{
    background-color: bisque;
    padding: 20px;
    margin: 20px;

}